/*
* Todas as telas
*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;  
  text-transform: uppercase;
  color: #000000;
}
#sobre {
  background-color: #6e7686;
  text-align: center;
  height: 100vh;  
}

#sobre figcaption {
  color: #ffffff;
}

#sobre section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

#sobre section figure img{
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

#sobre section article {  
  margin-top: 5%;
  height: 40%;
}

#sobre section article a {
  width: 30%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#sobre section article a img {
  width: 40%;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

#projetos {  
  background-color: #ffffff;
}

#projetos div p a {
  color: blue;
  font-size: 5ch;
}

#contatos {
  background-color: #474e5d;
  height: 100vh;
}

footer {
  background-color: #000000;
  color: #ffffff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  color: #ffffff
}

/*
* versão desktop
*/
body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #eee;  
}

body header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header nav {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #eee;
}

nav ul li {
  display: inline;
  float: left;
}

nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  text-decoration: none;
}

nav li:hover {
  background-color: #444;
}

nav a#openup {
  display: none;
}

header div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

header div h1 {  
  font-size: 2.5em;
  padding: .5ch
}

header div p {
  margin-bottom: 1ch;  
}

header div button {
  padding: 1ch;
}

#projetos{
  display: flex;
  flex-direction: column;
  padding: 5ch 0;  
}

#projetos div {
  display: flex;
  justify-content: space-around;
  margin-top: 3ch;
  /*border: 1px dashed red;*/
}

#projetos div article picture img {
  width: 60vh;
  height: 50vh;
}

/*
* versão tablet
*/
@media screen and (max-width: 800px) {

}

/*
* versão mobile
*/
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.8em;
  }

  nav {
    height: auto;
    border-bottom: 0;
  }

  nav ul {
    display: none;
    height: auto;
  }
  
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }
  
  nav a:hover {
    background: #444;
  }
  
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
  
  #sobre section {
    display: block;    
  }
  
  #projetos,
  #projetos div,
  #projetos div article{
    display: block;
  }
  
  #projetos div article{
    margin-bottom: 3ch;
  }
  
  footer{
    height: 20vh;
    flex-direction: column;        
  }
}

/*Alguns clears e fixers*/
.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

